<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>

      <behaviors>
        <serviceBehaviors>
          <behavior name="mexBehaviour">
            <serviceMetadata httpGetEnabled="true" />
          </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
          <behavior name="jsonBehavior">
            <webHttp automaticFormatSelectionEnabled="true" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <services>
          <service name="WCFSampleApp.WCFSampleService" behaviorConfiguration="mexBehaviour">
            <endpoint address="" binding="basicHttpBinding" contract="WCFSampleApp.IWCFSampleService">
            </endpoint>
            <endpoint address="api" binding="webHttpBinding" contract="WCFSampleApp.IWCFSampleService" behaviorConfiguration="jsonBehavior">
            </endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8080/" />
              </baseAddresses>
            </host>
          </service>
      </services>

    </system.serviceModel>
</configuration>