@page "/"

<div style="top: 25%; left:25%; position:fixed">
    <RadzenText Text="Welcome to the Northwinds Blazor Server Demo!" Style="font-size: 32px; font-style: oblique; color : blue"></RadzenText>
</div>